#content.content
	.content__frame(data-aos="fade-up" data-aos-delay="0")  Накануне премьеры фильма «Синдром» мы решили задать главные вопросы об идеальных отношениях клиническому психологу и психотерапевту Евгении Лазаревой (Zenbanani).

	.content__blocks 
		.content__block.block-content.content__block--1
			.block-content__row 
				.block-content__image 
					img(src="images/content/1.png", alt="alt")
				.block-content__body 
					h3.block-content__title(data-aos="fade-left" data-aos-delay="0")  Какие отношения мы обычно считаем идеальными?
					p.block-content__text(data-aos="fade-left" data-aos-delay="0")  Идеал — это сложный конструкт. Для каждого человека <b>«идеальное» значит что‑то своё</b>, уникальное и неповторимое. Два человека, начиная строить отношения, надеются, что у них одинаковое <b>представление об идеальных отношениях</b>, а оно у них, как правило, <b>разное —</b> основанное на культуре, обществе, религии, семье.
					h3.block-content__title(data-aos="fade-left" data-aos-delay="0")  Какие мифы и стереотипы об «идеальных» партнёрах чаще всего мешают построению здоровых партнёрских отношений?
					p.block-content__text(data-aos="fade-left" data-aos-delay="0")  Мифы создаются из представлений других людей и искусственно транслируются через фильмы, книги, статьи. Мифы могут быть разными, но чаще всего они гендерно-утрированные. Например, что мужчина должен быть сильнее и зарабатывать больше. А женщина должна быть робкой и покорной. Такие <b>стереотипы вступают в конфликт с собственными ценностями</b> и представлениями о мире, о себе, о людях и об отношениях. Фактически они мешают строить собственные конструктивные отношения.
		.content__block.block-content.content__block--2
			.block-content__row 
				.block-content__body 
					h3.block-content__title(data-aos="fade-right" data-aos-delay="0")  Что значит «принять партнёра таким, какой он есть»? Всегда ли такая стратегия работает?
					p.block-content__text(data-aos="fade-right" data-aos-delay="0")  Стоит обратить внимание <b>на понятие радикального принятия</b>. Есть то, что мы никогда не сможем изменить, и то, что может поддаваться изменениям. Например, мы понимаем, что наш партнёр — обладатель чувствительной нервной системы, ранимый, эмпатичный. На это мы повлиять не сможем. Но если наш партнёр нас бьёт или оскорбляет — это то, что мы точно можем поменять в своей жизни. Мы можем принять особенности и уникальные черты партнёра, но не его отношения к нам. Это мы принимать не обязаны.
				.block-content__image 
					img(src="images/content/2.png", alt="alt")
		.content__block.block-content.content__block--3
			.block-content__row 
				.block-content__body 
					h3.block-content__title(data-aos="fade-right" data-aos-delay="0")  Где проходит грань между желанием улучшить отношения и манипуляцией партнёром?
					p.block-content__text(data-aos="fade-right" data-aos-delay="0")  Здесь важно обратить внимание <b>на красные флаги</b>, которые являются сигналами манипуляции: использование ложных аргументов, угрозы и обещания, формирование чувства вины у партнёра. При использовании таких методов речь идёт не об улучшении отношений, а о получении собственной выгоды одним из партнёров.
				a(href="https://youtu.be/pN4aayrN19g" data-fancybox).block-content__image.open-video 
					span.play-btn
					img(src="images/content/video.png", alt="alt")
		.content__block.block-content.content__block--4
			.block-content__row 
				.block-content__image 
					img(src="images/content/small.png", alt="alt")
				.block-content__body 
					h3.block-content__title(data-aos="fade-left" data-aos-delay="0")  Какой реалистичный образ отношений мы должны стремиться создать в своей голове, чтобы не попасть в ловушку нереальных ожиданий?
					p.block-content__text(data-aos="fade-left" data-aos-delay="0")  Важно помнить о том, что каждый человек вступает в отношения с собственным набором представлений, ценностей и приоритетов. <b>Идеальные отношения будут тогда, когда наши ценности найдут компромисс</b> и не будут противоречить друг другу.

	.content__frame.content__frame--bottom(data-aos="fade-up" data-aos-delay="0")  А насколько вы склонны идеализировать партнёра? И близок ли он сам к вашему идеалу? Узнайте с помощью теста 👇