.hero 
	.age
	.hero__preload-mobile
		.body-hero__footer 
			.body-hero__name 
				img(src="images/hero/name-white.png", alt="alt")
			.body-hero__date в кино с 9 ноября
	.hero__body.body-hero.hidden 
		.body-hero__title(data-aos="fade-left" data-aos-delay="0") 
		.body-hero__subtitle(data-aos="fade-left" data-aos-delay="100") Насколько идеален ваш партнер? И бывают ли вообще отношения идеальными? Ищем ответы на эти вопросы вместе с психологом и с помощью нашего теста.
		.body-hero__text 
			p(data-aos="fade-left" data-aos-delay="200") Часто ли вы задумываетесь о том, какими бы были <b>ваши идеальные отношения</b>? Или мечтаете хотя бы чуточку переделать партнера, чтобы он стал больше похож на ваш воображаемый идеал?
			p(data-aos="fade-left" data-aos-delay="300") Скорее всего, хотя бы однажды вас посещали такие мысли. Это вполне объяснимо: у каждого из нас есть свои представления об отношениях, сформированные романтическими фильмами, книгами и просто окружением. И как <b>хочется порой подогнать под них любимого человека</b>, чтобы он был замечательным, умным и надежным.
			p(data-aos="fade-left" data-aos-delay="400") А между тем, если бы вдруг это стало реальностью, возможно, <b>вы бы скорее испугались, чем обрадовались</b>. Именно так происходит <b>в напряженном триллере «Синдром»</b> с Оксаной Акиньшиной и Кириллом Кяро в главных ролях, который выходит в прокат 9 ноября.
			.hero__arrow-wrapper.hero__arrow-wrapper-desk
				a(href="#content").hero__arrow.scroll-to 
					svg(width='79' height='79' viewBox='0 0 79 79' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(clip-path='url(#clip0_168_200)')
							path(d='M62.5415 52.6667C60.0991 52.6667 56.4519 55.0795 53.3907 57.5219C49.4407 60.6621 45.9943 64.4146 43.3643 68.7168C41.3925 71.9427 39.4998 75.8532 39.4998 79M39.4998 79C39.4998 75.8532 37.6071 71.9394 35.6354 68.7168C33.0021 64.4146 29.5557 60.6621 25.6123 57.5219C22.5478 55.0795 18.894 52.6667 16.4582 52.6667M39.4998 79L39.4998 -3.92172e-06' stroke='black' stroke-width='3')
						defs
							clippath#clip0_168_200
								rect(width='79' height='79' fill='white' transform='translate(79 79) rotate(-180)')
		.body-hero__footer
			.body-hero__name(data-aos="fade-left" data-aos-delay="500")  
				img(src="images/hero/name.png", alt="alt")
			.body-hero__date(data-aos="fade-left" data-aos-delay="600")  в кино с 9 ноября
			.hero__arrow-wrapper.hero__arrow-wrapper-mob
				a(href="#content").hero__arrow.scroll-to 
					svg(width='79' height='79' viewBox='0 0 79 79' fill='none' xmlns='http://www.w3.org/2000/svg')
						g(clip-path='url(#clip0_168_200)')
							path(d='M62.5415 52.6667C60.0991 52.6667 56.4519 55.0795 53.3907 57.5219C49.4407 60.6621 45.9943 64.4146 43.3643 68.7168C41.3925 71.9427 39.4998 75.8532 39.4998 79M39.4998 79C39.4998 75.8532 37.6071 71.9394 35.6354 68.7168C33.0021 64.4146 29.5557 60.6621 25.6123 57.5219C22.5478 55.0795 18.894 52.6667 16.4582 52.6667M39.4998 79L39.4998 -3.92172e-06' stroke='black' stroke-width='3')
						defs
							clippath#clip0_168_200
								rect(width='79' height='79' fill='white' transform='translate(79 79) rotate(-180)')