.test
	.age
	.test__container 
		.test__left.left-test
			.left-test__inner() 
				.left-test__name 
					img(src="images/test/name.png", alt="alt")
				.left-test__date в кино с 9 ноября
				.left-test__btn  купить билет

		.test__right
			.test__swiper.swiper
				.swiper-wrapper
					.swiper-slide.swiper-slide1
						.test__card
							.test__image 
								img(src="images/test/1.png", alt="alt")
								span.test__num.test__num--black 1
							.test__title() 
								|Ваш партнер совершает какой-то нетипичный для него поступок. Вы...
							.test__radiobuttons() 
								.test__radiobuttons-item.test__radiobuttons-itemA.test__radiobuttons-item1.active
									input#test__radiobuttons-itemA1(type='radio' value='0' name='nameradio1')
									label(for='test__radiobuttons-itemA1') 
										span
										| А — считаете это ошибкой и ждете подвоха.
								.test__radiobuttons-item.test__radiobuttons-itemB.test__radiobuttons-item1
									input#test__radiobuttons-itemB1(type='radio' value='2' name='nameradio1')
									label(for='test__radiobuttons-itemB1') 
										span
										| B — усиленно ищете в этом какие-то скрытые плюсы.
								.test__radiobuttons-item.test__radiobuttons-itemC.test__radiobuttons-item1
									input#test__radiobuttons-itemC1(type='radio' value='1' name='nameradio1')
									label(for='test__radiobuttons-itemC1') 
										span
										| C — просто отмечаете это как нечто новое.
					.swiper-slide.swiper-slide2
						.test__card
							.test__image 
								img(src="images/test/2.png", alt="alt")
								span.test__num 2
							.test__title
								| Сегодня важное для вас мероприятие, а партнер приходит на него с очень большим опозданием. Вы…
							.test__radiobuttons
								.test__radiobuttons-item.test__radiobuttons-itemA.test__radiobuttons-item2
									input#test__radiobuttons-itemA2(type='radio' value='0' name='nameradio2')
									label(for='test__radiobuttons-itemA2')
										span
										| А — злитесь и упрекаете его за недостаток уважения к вам.
								.test__radiobuttons-item.test__radiobuttons-itemB.test__radiobuttons-item2
									input#test__radiobuttons-itemB2(type='radio' value='2' name='nameradio2')
									label(for='test__radiobuttons-itemB2')
										span
										| B — думаете, что, наверное, у него были весомые причины, и ждете объяснений.
								.test__radiobuttons-item.test__radiobuttons-itemC.test__radiobuttons-item2
									input#test__radiobuttons-itemC2(type='radio' value='1' name='nameradio2')
									label(for='test__radiobuttons-itemC2')
										span
										| C — чувствуете разочарование, но готовы обсудить это позже спокойно.
					.swiper-slide.swiper-slide3
						.test__card
							.test__image 
								img(src="images/test/3.png", alt="alt")
								span.test__num 3
							.test__title
								| Вы готовы начать обсуждать тему семьи и детей, но партнер постоянно уходит от разговора. Вы…
							.test__radiobuttons
								.test__radiobuttons-item.test__radiobuttons-itemA.test__radiobuttons-item3
									input#test__radiobuttons-itemA3(type='radio' value='0' name='nameradio3')
									label(for='test__radiobuttons-itemA3')
										span
										| A — думаете, что ему, вероятно, безразлично ваше совместное будущее, и чувствуете обиду.
								.test__radiobuttons-item.test__radiobuttons-itemB.test__radiobuttons-item3
									input#test__radiobuttons-itemB3(type='radio' value='2' name='nameradio3')
									label(for='test__radiobuttons-itemB3')
										span
										| B — решаете, что он просто еще не готов, и стараетесь не давить на него.
								.test__radiobuttons-item.test__radiobuttons-itemC.test__radiobuttons-item3
									input#test__radiobuttons-itemC3(type='radio' value='1' name='nameradio3')
									label(for='test__radiobuttons-itemC3')
										span
										| C — говорите ему о своих чувствах и интересуетесь, почему он избегает этой темы.
					.swiper-slide.swiper-slide4
						.test__card
							.test__image 
								img(src="images/test/4.png", alt="alt")
								span.test__num 4
							.test__title
								| В пятницу вечером ваш партнер отменяет запланированный совместный поход в ресторан и говорит, что задержится на работе. Вы…
							.test__radiobuttons
								.test__radiobuttons-item.test__radiobuttons-itemA.test__radiobuttons-item4
									input#test__radiobuttons-itemA4(type='radio' value='0' name='nameradio4')
									label(for='test__radiobuttons-itemA4')
										span
										| А — чувствуете, что он не ценит вас, и грустите.
								.test__radiobuttons-item.test__radiobuttons-itemB.test__radiobuttons-item4
									input#test__radiobuttons-itemB4(type='radio' value='2' name='nameradio4')
									label(for='test__radiobuttons-itemB4')
										span
										| B — предполагаете, что у него действительно важное дело, и предлагаете перенести ужин на другой день.
								.test__radiobuttons-item.test__radiobuttons-itemC.test__radiobuttons-item4
									input#test__radiobuttons-itemC4(type='radio' value='1' name='nameradio4')
									label(for='test__radiobuttons-itemC4')
										span
										| C — говорите ему, что разочарованы, но понимаете и предлагаете провести вечер вместе дома после его работы.
					.swiper-slide.swiper-slide5
						.test__card
							.test__image 
								img(src="images/test/5.png", alt="alt")
								span.test__num 5
							.test__title
								| Ваш партнер просит вас о помощи в чем-то, что вам тоже не нравится делать. Вы…
							.test__radiobuttons
								.test__radiobuttons-item.test__radiobuttons-itemA.test__radiobuttons-item5
									input#test__radiobuttons-itemA5(type='radio' value='0' name='nameradio5')
									label(for='test__radiobuttons-itemA5')
										span
										| А — говорите ему, что считаете это несправедливым, и отказываетесь помогать.
								.test__radiobuttons-item.test__radiobuttons-itemB.test__radiobuttons-item5
									input#test__radiobuttons-itemB5(type='radio' value='2' name='nameradio5')
									label(for='test__radiobuttons-itemB5')
										span
										| B — беретесь за работу с удовольствием, не показывая своей неохоты.
								.test__radiobuttons-item.test__radiobuttons-itemC.test__radiobuttons-item5
									input#test__radiobuttons-itemC5(type='radio' value='1' name='nameradio5')
									label(for='test__radiobuttons-itemC5')
										span
										| C — скажете, что это не ваше любимое занятие, но все равно поможете.
					.swiper-slide.swiper-slide6
						.test__card
							.test__image 
								img(src="images/test/6.png", alt="alt")
								span.test__num 6
							.test__title
								| Ваш партнер забыл о важной дате. Вы...

							.test__radiobuttons
								.test__radiobuttons-item.test__radiobuttons-itemA.test__radiobuttons-item6
									input#test__radiobuttons-itemA6(type='radio' value='0' name='nameradio6')
									label(for='test__radiobuttons-itemA6')
										span
										| А — обвиняете его и очень обижаетесь.
								.test__radiobuttons-item.test__radiobuttons-itemB.test__radiobuttons-item6
									input#test__radiobuttons-itemB6(type='radio' value='2' name='nameradio6')
									label(for='test__radiobuttons-itemB6')
										span
										| B — считаете это случайной ошибкой и быстро прощаете.
								.test__radiobuttons-item.test__radiobuttons-itemC.test__radiobuttons-item6
									input#test__radiobuttons-itemC6(type='radio' value='1' name='nameradio6')
									label(for='test__radiobuttons-itemC6')
										span
										| C — обижаетесь, но попытаетесь обсудить эту ситуацию спокойно.
					.swiper-slide.swiper-slide7
						.test__card
							.test__image 
								img(src="images/test/7.png", alt="alt")
								span.test__num 7
							.test__title
								| Ваш партнер сделал что-то действительно выдающееся. Ваша реакция...

							.test__radiobuttons
								.test__radiobuttons-item.test__radiobuttons-itemA.test__radiobuttons-item7
									input#test__radiobuttons-itemA7.show-result(type='radio' value='0' name='nameradio7')
									label(for='test__radiobuttons-itemA7')
										span
										| А — «Ну наконец-то!»
								.test__radiobuttons-item.test__radiobuttons-itemB.test__radiobuttons-item7
									input#test__radiobuttons-itemB7.show-result(type='radio' value='2' name='nameradio7')
									label(for='test__radiobuttons-itemB7')
										span
										| B — «Это просто невероятно, ты лучший в мире!»
								.test__radiobuttons-item.test__radiobuttons-itemC.test__radiobuttons-item7
									input#test__radiobuttons-itemC7.show-result(type='radio' value='1' name='nameradio7')
									label(for='test__radiobuttons-itemC7')
										span
										| C — «Отличная работа, я горжусь тобой!»



	.result
		.result__inner.result1
			.result__container
				.test__title <b>Вы склонны критиковать своего партнера</b>, вас расстраивает, что он далек от вашего идеала. Возможно, вам стоит научиться больше ценить его просто за то, что он есть, и чаще подмечать его положительные черты.
				.test__text 
					p Совет: Вспомните, что восхищало вас в начале отношений, и постарайтесь увидеть эти качества в партнере и сейчас.
					p Главная героиня фильма «Синдром» Маша видела, что проблемы и завалы на работе у ее мужа Кирилла лишили отношения легкости. Накопились взаимные претензии, которые стали выплескиваться наружу в виде постоянных разногласий и даже скандалов, а находить позитивные моменты стало почти невозможно. Разгадка сюжета этого триллера удивит даже искушенных ценителей жанра. Приходите узнать правду в кинотеатры с 9 ноября.

				.result__bottom.left-test
					.left-test__name 
						img(src="images/test/name.png", alt="alt")
					.left-test__date в кино с 9 ноября
					.left-test__btn купить билет
					a(href="https://youtu.be/pN4aayrN19g" data-fancybox).left-test__btn.open-video смотреть трейлер
		.result__inner.result2
			.result__container
				.test__title <b>Вы довольно реалистично оцениваете своего партнера</b>, цените его сильные стороны и терпимо относитесь к слабостям. Это здоровый подход к отношениям, поздравляем!
				.test__text 
					p Совет: Именно здоровый взгляд друг на друга позволяет выстроить гармоничные отношения, не жертвуя своими интересами, помните об этом в моменты кризиса и ссор.
					p Возможно, если бы главные герои фильма «Синдром» умели так же открыто обсуждать сложные моменты, мягко отстаивая собственные границы, это позволило бы им избежать шокирующих последствий. Что произошло в реальности триллера, узнаем в кинотеатрах с 9 ноября.

				.result__bottom.left-test
					.left-test__name 
						img(src="images/test/name.png", alt="alt")
					.left-test__date в кино с 9 ноября
					.left-test__btn купить билет
					a(href="https://youtu.be/pN4aayrN19g" data-fancybox).left-test__btn.open-video смотреть трейлер
		.result__inner.result3
			.result__container
				.test__title 3Вы склонны критиковать своего партнёра, вас расстраивает, что он далёк от вашего идеала.
				.test__text 
					p <b>У вас есть тенденция идеализировать партнера</b>, иногда игнорируя его недостатки. Расхождение этой картинки с реальностью может начать расстраивать, а эмоции, которые вы подавляете, рано или поздно прорвутся наружу — только уже в виде конфликта. 
					p Главная героиня фильма «Синдром» так сильно хотела идеальных отношений, что готова была на все ради них. Но когда Кирилл вдруг стал идеальным, это начало пугать Машу, и она постоянно задавалась вопросом, что заставило мужа так измениться. К чему это привело, можно будет узнать в кинотеатрах с 9 ноября.
				
				.result__bottom.left-test
					.left-test__name 
						img(src="images/test/name.png", alt="alt")
					.left-test__date в кино с 9 ноября
					.left-test__btn купить билет
					a(href="https://youtu.be/pN4aayrN19g" data-fancybox).left-test__btn.open-video смотреть трейлер