.test {
	background: url('../images/test/bg.png') left center / cover no-repeat;
	min-height: 100vh;
	display: flex;
	padding: 30px 170px 30px 280px;
	overflow: hidden;
	position: relative;
	@media (max-width: 1920px){
		padding: 1.56vw 8.85vw 1.56vw 14.58vw;
		
	}
	@media (max-width: 768px){
		padding: 12.71vw 7.14vw;
		background: url('../images/test/bg-mobile.png') center / cover no-repeat;
		min-height: 0;
	}
	.swiper-slide {
		opacity: 0 !important;
		pointer-events: none !important;
		transition: all 0.7s ease 0s;
		&.swiper-slide-active {
			opacity: 1 !important;
			pointer-events: auto !important;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 100%;
		@media (max-width: 768px){
			flex-direction: column;
			justify-content: flex-start;
		}
	}
	&__left {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		.left-test__btn {
			@media (max-width: 768px){
				display: none;
			}
		}
	}
	&__right {
		flex: 0 1 920px;
		display: flex;
		align-items: center;
		@media (max-width: 1920px){
			flex: 0 1 47.92vw;
			
		}
		@media (max-width: 768px){
			flex: 1 1 100%;
			order: -1;
		}
	}
	&__swiper {
		max-width: 920px;
		@media (max-width: 1920px){
			max-width: 47.92vw;
			
		}
		@media (max-width: 768px){
			max-width: 100%;
		}
	}
	&__card {
		transition: all 0.3s ease 0s;
		&.hide {
			opacity: 0;
		}
	}
	&__image {
		position: relative;
		min-height: 450px;
		@media (max-width: 1920px){
			min-height: 23.44vw;
			
		}
		@media (max-width: 768px){
			min-height: 51.43vw;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__num {
		position: absolute;
		top: 60px;
		left: 20px;
		color: #FFF;
		text-align: center;
		font-family: Romul;
		font-size: 128px;
		font-style: normal;
		font-weight: 400;
		line-height: 48px; /* 37.5% */
		text-transform: uppercase;
		@media (max-width: 1920px){
			top: 3.13vw;
			left: 1.04vw;
			font-size: 6.67vw;
			line-height: 2.50vw; /* 37.5% */

		}
		@media (max-width: 768px){
			top: 5.71vw;
			left: 2.14vw;
			font-size: 13.71vw;
			line-height: 100%;

		}
		&--black {
			color: #000;
			
		}
	}
	&__title {
		color: #231F20;
		font-family: Romul;
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 38px; /* 118.75% */
		text-transform: uppercase;
		margin-top: 32px;
		@media (max-width: 1920px){
			font-size: 1.67vw;
			line-height: 1.98vw; /* 118.75% */
			margin-top: 1.67vw;

		}
		@media (max-width: 768px){
			font-size: 4vw;
			line-height: 128%; /* 118.75% */
			
			margin-top: 4vw;

		}
	}
	&__radiobuttons {
		margin-top: 36px;
		margin-left: auto;
		max-width: 700px;
		@media (max-width: 1920px){
			margin-top: 1.88vw;
			max-width: 36.46vw;

		}
		@media (max-width: 768px){
			margin-top: 7.57vw;
			max-width: 100%;
		}
		&.disable {
			pointer-events: none;
		}
		&-item {
			position: relative;
			cursor: pointer;
			& + div{
				margin-top: 24px;
				@media (max-width: 1920px){
					margin-top: 1.25vw;
					
				}
				@media (max-width: 768px){
					margin-top: 7vw;
				}
			}
			label {
				display: flex;
				align-items: center;
				padding-left: 35px;
				cursor: pointer;
				color: #000;
				font-family: Inter;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: 32px; /* 133.333% */
				@media (max-width: 1920px){
					padding-left: 1.82vw;
					font-size: 1.25vw;
					line-height: 1.67vw; /* 133.333% */

				}
				@media (max-width: 768px){
					font-size: 4vw;
					line-height: 133.333%;
				}
				span {
					display: block;
					width: 54px;
					height: 54px;
					min-width: 54px;
					min-height: 54px;
					background-color: transparent;
					border-radius: 50%;
					border: 1px solid #000000;
					position: relative;
					margin-right: 24px;
					@media (max-width: 1920px){
						width: 2.81vw;
						height: 2.81vw;
						min-width: 2.81vw;
						min-height: 2.81vw;
						border: 0.05vw solid #000000;
						margin-right: 1.25vw;

					}
					@media (max-width: 768px){
						width: 9.71vw;
						height: 9.71vw;
						min-width: 9.71vw;
						min-height: 9.71vw;
						border: 0.14vw solid #000000;
						margin-right: 2.86vw;

					}
					&:after {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						display: block;
						min-width: 32px;
						min-height: 32px;
						background: #000000;
						border-radius: 50%;
						transition: all 0.3s ease 0s;
						opacity: 0;
						@media (max-width: 1920px){
							min-width: 1.67vw;
							min-height: 1.67vw;

						}
						@media (max-width: 768px){
							min-width: 6.57vw;
							min-height: 6.57vw;

						}
					}
				}
			}
			input:checked + label {
				span {
					&:after {
						opacity: 1;
					}
				}
			}
			input {
				display: none;
			}
		}
	}
}
.left-test {
	padding-bottom: 40px;
	@media (max-width: 1920px){
		padding-bottom: 2.08vw;
		
	}
	@media (max-width: 768px){
		padding-bottom: 0;
		margin-top: 10vw;
	}
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__name {
		width: 460px;
		height: 80px;
		@media (max-width: 1920px){
			width: 23.96vw;
			height: 4.17vw;
			
		}
		@media (max-width: 768px){
			width: 47.14vw;
			height: 8.57vw;
			
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__date {
		margin-top: 10px;
		color: #000;
		text-align: center;
		font-family: Inter;
		font-size: 27px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
		text-transform: uppercase;
		@media (max-width: 1920px){
			margin-top: 0.52vw;
			font-size: 1.41vw;
			line-height: 1.67vw;

		}
		@media (max-width: 768px){
			margin-top: 1.71vw;
			font-size: 3.14vw;
			line-height: 145%;

		}
	}
	&__btn {
		cursor: pointer;
		width: 305px;
		height: 74px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 25px;
		border: 1px solid #000;
		background: rgba(233, 237, 236, 0.50);
		color: #000;
		font-family: Inter;
		font-size: 26px;
		font-style: normal;
		font-weight: 300;
		line-height: 32px; /* 123.077% */
		text-transform: uppercase;
		margin-top: 36px;
		transition: all 0.3s ease 0s;
		@media (max-width: 1920px){
			width: 15.89vw;
			height: 3.85vw;
			border-radius: 1.30vw;
			border: 0.05vw solid #000;
			font-size: 1.35vw;
			line-height: 1.67vw; /* 123.077% */
			margin-top: 1.88vw;

		}
		@media (max-width: 768px){
			width: 42.86vw;
			height: 10vw;
			border-radius: 3.57vw;
			border: 0.14vw solid #000;
			font-size: 3.71vw;
			line-height: 123.077%;
			margin-top: 1.88vw;

		}
		&:hover{
			color: #fff;
			background-color: #000;
		}
	}
}



.result {
	min-width: 100%;
	min-height: 100%;
	display: none;
	@media (max-width: 768px){
		
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 900px;
		margin-left: auto;
		@media (max-width: 1920px){
			max-width: 46.88vw;
			
		}
		@media (max-width: 768px){
			max-width: 100%;
		}
	}
	&__inner {
		min-width: 100%;
		min-height: 100%;
		display: flex;
		align-items: center;
		display: none;
		&.active {
			display: flex;
		}
	}

	.test__title {
		margin: 0;
		text-align: center;
		@media (max-width: 768px){
			margin: 0 -7.14vw;
		}
	}
	.test__text {
		margin-top: 24px;
		color: #000;
		font-family: Inter;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px; /* 133.333% */
		text-align: center;
		@media (max-width: 1920px){
			margin-top: 1.25vw;
			font-size: 1.25vw;
			line-height: 1.67vw; /* 133.333% */

		}
		@media (max-width: 768px){
			font-size: 3.43vw;
			line-height: 133.333%;
			margin-top: 3.43vw;
		}
	}
	&__bottom {
		padding: 0;
		margin: 32px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 1920px){
			margin: 1.67vw 0px 0px 0px;
			
		}
		@media (max-width: 768px){
			margin: 6.57vw 0px 0px 0px;
		}
	}
	.left-test__btn {
		margin-top: 46px;
		@media (max-width: 1920px){
			margin-top: 2.40vw;
			
		}
		@media (max-width: 768px){
			margin-top: 7.86vw;
		}
		& + .left-test__btn {
			margin-top: 24px;
			@media (max-width: 1920px){
				margin-top: 1.25vw;
				
			}
			@media (max-width: 768px){
				margin-top: 3.43vw;
			}
		}
	}
}